@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
  transition: opacity 0.3s ease;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
