@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer utilities {
  .scrollbar-hide {
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;
                /* Firefox */
            }

            .scrollbar-hide::-webkit-scrollbar {
                display: none;
                /* Chrome, Safari and Opera */
            }
}

/* Here section Carousel */
.indicator {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #3b82f6; /* Darker blue */
  color: white;
  font-weight: bold;
  outline: none;
}

/* confirmation message */
#confirmation-overlay.hidden {
  display: none;
}